*~
bin/
dist/
*resharper.user
[Dd]ebug/
[Rr]elease/
Signed Debug/
Signed Release/
obj/
*.ncb
*.suo
_ReSharper.*/
*.pdb
*.snk
*.user
*.log
App_Data/
*.pidb
*.test-cache
*.userprefs
*.resources
*.cache
*.pidb
nunit-results.xml
*.orig
*.ReSharper
*.tmp
*.bak
LocalSettings.php
cache/
attachments/
.project
devtools_firephp/
.idea
web/deki/javascript/out
*.dotCover
*.opensdf
*.sdf
web/lang.php
test-results
.gitattributes
web/test/settings.xml
web/test/phpunit.xml
.DS_Store
pro.min.js
community.min.js
pro_dev.txt
community_dev.txt
