<config>
    <apikey>12345</apikey>
    <host>trunk.mindtouch.com</host>
    <http-port>8082</http-port>
    <ip>*:8082</ip>
    <script>
        <action verb="POST" path="/host/load?name=PullRequestService" />
        <action verb="POST" path="/host/services">
            <config>
                <apikey>12345</apikey>
                <path>pr</path>
                <sid>sid://mindtouch.com/2013/05/pullrequestservice</sid>
                <github.token>12345</github.token>
                <github.owner>MindTouch</github.owner>
                <github.repos>Deki,puppet-cloud</github.repos>
		<public.uri>http://trunk.mindtouch.com:8082/pr/notify</public.uri>
                <merge.retries>5</merge.retries>
                <merge.ttl>1000</merge.ttl>
                <mergeability.retries>5</mergeability.retries>
                <mergeability.ttl>15000</mergeability.ttl>
                <youtrack.hostname>https://mindtouch.myjetbrains.com/youtrack/</youtrack.hostname>
                <youtrack.username>mtbot</youtrack.username>
                <youtrack.password>12345</youtrack.password>
                <github2youtrack>nataren:cesarn, modethirteen:andyv, bjorg:SteveB, Petee:PeteE, programzeta:ryanc, kazad:kalida, yurigorokhov:yurig, aaronmars:aaronm, theresam:theresam, trypton:karena, onema:juant
                </github2youtrack>
                <archive.branches.ttl>43200000</archive.branches.ttl>
                <archive.branches.keep>5</archive.branches.keep>
		<github.frozen.branches>
			<repo name="deki">
				<branch>release_20151112</branch>
			</repo>
			<repo name="puppet-cloud">
				<branch>release_20151112</branch>
			</repo>
                        <repo name="lambda-ops">
                        	<branch>master</branch>
                  	</repo> 
		</github.frozen.branches>
            </config>
        </action>
    </script>
</config>
