<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net40" />
  <package id="AWSSDK" version="2.3.55.0" targetFramework="net40" />
  <package id="FSharp.Data" version="1.1.5" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="MindTouch.Core" version="2.6.0.766" targetFramework="net40" />
  <package id="MindTouch.DReAM" version="2.6.0.766" targetFramework="net40" />
</packages>